<%+header%>
<style>
label {
  display: block;
}
label > span {
    min-width: 15em;
    display: inline-block;
}
</style>
<div>
  <h2>
    Add voucher
  </h2>
  <form method='post'>
    <input name='action' value='add_voucher' type='hidden'>
    <label for='key'><span>Key</span><input name='key' placeholder='voucher key' type='input'></label>
    <label for='voucher'><span>Voucher code</span><input name='voucher' placeholder='voucher code' type='input'></label>
    <label for='expiretime'><span>Expire time</span><input name='expiretime' placeholder='Expire time' type='number'></label>
    <label for='uploadlimit'><span>Upload speed Limit</span><input name='uploadlimit' placeholder='upload speed limit' type='number'></label>
    <label for='downloadlimit'><span>Download speed Limit</span><input name='downloadlimit' placeholder='download speed limit' type='number'></label>
    <label for='amountsofmacsallowed'><span>Amounts of devices allowed</span><input name='amountofmacsallowed' placeholder='amounts of devices allowed' type='number'></label>
    <input value='Add' type='submit'></input>
  </form>
</div>
<div id="vouchers">
  <h2>Current vouchers</h2>
  <table>
    <tbody class="list">
      <% for idx, row in pairs( vouchers ) do %>
        <tr>
        <% if idx == 1 then %>
          <% for idy, column in pairs( row ) do %>
            <th><%= column %></th>
          <% end %>
        <% else %>
          <% for idy, column in pairs( row ) do %>
            <td class='<%=vouchers[1][idy]%>'><%= column %></td>
          <% end %>
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%+footer%>
